{% extends 'base.html.twig' %}

{% block content %}
    <h1>Blog</h1>


{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
{% endblock %}


