<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %} {% trans %}Catalog{% endtrans %} {% endblock %}</title>

        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        <header class="bd-navbar navbar-expand">
            <div class="navbar navbar-dark bg-dark box-shadow">
                <div class="container d-flex justify-content-between">

                    <ul class="navbar-nav  justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link {% if 'author' in app.request.attributes.get('_route') %} active {% endif %}"
                               href="{{ path('author_list') }}">
                                {% trans %}Authors{% endtrans %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if 'book' in app.request.attributes.get('_route') %} active {% endif %}"
                               href="{{ path('book_list') }}">
                                {% trans %}Books{% endtrans %}
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </header>

        <main role="main">

            <div class="m-3">
                {% block content %}{% endblock %}
            </div>

        </main>

        <footer class="text-muted">
            <div class="container">
            </div>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>

